---
layout: default
title: "Misc"
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    {% include panel_header.html %}

    <!-- Main -->
    <div id="main" data-exif='{{ site.exif }}'>
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        {% if image.path contains 'MISC_' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    
    <!-- Footer -->
    {% include panel_categories.html %}
    {% include panel_footer.html %}
</div>
