---
layout: default
title: "Home"
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    {% include panel_header.html %}

    <!-- Main -->
    <div id="main" data-exif='{{ site.exif }}'>
        {% assign shuffled_images = site.static_files %}
        {% assign image_count = 0 %}
        {% for image in shuffled_images %}
        {% if image.path contains 'fulls' %}
        {% if image_count < 12 %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% assign image_count = image_count | plus: 1 %}
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    {% include panel_categories.html %}
    {% include panel_footer.html %}
</div>
